@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.header {
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  position: relative;
 background-color: antiquewhite;
}
.logo{
  width: 130px;
  height: 60px;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
 
}

.nav-link {
  flex: 1;
  text-align: right;
}

.nav-link ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  font-family:fantasy;
 
}

.nav-link ul li a {
  color: #080808;
  text-decoration: none;
  font-size: 20px;
}

.nav-link ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #700562;
  display: block;
  margin: auto;
  transition: 0.5s;
  border-bottom: rgb(17, 17, 17);
}

.nav-link ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  position: absolute;
  color: #111111;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: start;
  padding-left: 120px;
}
.text-box h1 {
  font-size: 40px;
  color: #1f0255;
  font-family:monospace;

}
.text-box p {
  margin: 10px 0 40px;
  font-size: 18px;
  color: #5e5a5a;
  margin-top: 30px;
  
}
@media (max-width:700px) {
  .logo{
    width: 40px;
    height: 17px;
  }
  nav{  
    padding: 1% 3%;
    margin-right: 20px;
    margin: 10px;

  }
  .nav-link ul li{
    padding: 4px 4px;
   
  }
  .nav-link ul li a{
    font-size: 9px;
   
  }
  .text-box {
    padding-left: 20px;
    top: 40%;
  }
  .text-box h1{
      font-size: 17px; 
  }
  .text-box h2{
    font-size: 17px; 
  }
}
.bton {
  display: inline;
  text-decoration: none;
  color: #111111;
  border: 1px solid #a8089b;
  padding: 12px 34px;
  font-size: 18x;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  font-family:fantasy;
}
.bton:hover {
  border: 1px solid #f0319a;
  background-color: #e06cb9;
  transition: 1s;
}


.btn {
  text-decoration: none;
  color: #140e6b;
  border: 1px solid #a8089b;
  padding: 12px 34px;
  font-size: 18px;
  background: transparent;
  position: relative;
  cursor: pointer;
  text-align: center; 
  border-radius: 10px;


}
.btn:hover {
  border: 1px solid #940b6b;
  background-color: #e239af;
  transition: 1s;
}

@media(max-width:700px){
  .bton{
      padding: 5px 9px;
      font-size: 9px;
      
  }
  .btn{
      padding: 4px 7px;
      font-size: 8px;
      left: 10px;
  }
 
}

.imagee{
  position: absolute;
  right: 10px;
  bottom: 0;
  width: 27%;
  margin: 20px;
  margin-right: 90px;

 
}

.image{
position: absolute;
right: 10px;
bottom: 0;
width: 22%;
margin: -60px;
margin-right: 90px;

}

.thanks{
  position: absolute;
  right: 10px;
  bottom: 0;
  width: 40%;
  margin: -70px;
  margin-right: 5px;
}

@media(max-width:700px){

  .imagee{
      width: 40%;
      margin-right: 25px;
      margin-bottom: -100px;
  }
  .image{
      width: 23%;
      margin-right: 30px;
      margin-bottom: -10px;
  }
  .thanks{
     width: 40%;
     margin-right: 50px;
     margin-bottom: -100px;
  }
}

 .footer{
  width: 100%;
  text-align: center;
  color: #080808;
  background-color: rgba(94, 91, 91, 0.133);
  justify-content: space-between;
  align-items: center;
  padding: 3px 3px;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 90px;

}
.footer p{
  margin-top: 7px;
  font-weight: 600;
}
.linkedin {
  color: #0c0c0c;
  
}
.linkedin:hover{
 
 color:rgb(231, 170, 216);

}
.github{
  color: #000;
  padding: 10px 10px 10px 10px;
  margin-right: -18px;
}
.github:hover{
  color:rgb(231, 170, 216);
}
